<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Товары</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="menu">
    <a href="/">Список комплектующих</a>
    <a href="/sell">Продать комплектующие</a>
    <a href="/soldParts">Список проданных комплектующих</a>
    <a href="/addPC">Собрать компьютер</a>

</div>
<div class="menu">
    <a href="/listPc">Список компьютеров</a>
    <a href="/volodyaListPc">Список компьютеров Володя</a>
    <a href="/soldPc">Список проданных компьютеров</a>
</div>
<h1>Список проданных компьютеров</h1>
{{.error}}
<table>
    <tr>
        <th>ID продажи</th>
        <th>ID компьютера</th>
        <th>Дата продажи</th>
        <th>Сумма продажи</th>
        <th>Прибыль</th>
    </tr>
    {{range .pc}}
    <tr>
        <td>{{.ID}}</td>
        <td>{{.PcID}}</td>
        <td>{{.SaleDate}}</td>
        <td>{{.SaleSum}}</td>
        <td>{{.Total}}</td>
    </tr>
    {{end}}
</table>
</body>
</html>